[Desktop Entry]
Name=Logos Bible Software
Comment=Logos 9 snap package
Exec=logos9
Icon=${SNAP}/meta/gui/logos9-icon-180.png
Terminal=false
Type=Application
Categories=Education;
StartupWMClass=logos.exe
